

# FILES
scripts/data/2017_diaria.DBF
scripts/data/IMPO_17_feature.csv
scripts/data/IMPO_17_feature.xlsx
scripts/data/impo_2017_diaria.csv
scripts/data/resultados/asign_pre_matriz.csv
scripts/data/resultados/data_modelo.csv
scripts/data/resultados/data_modelo_diaria.csv
scripts/data/resultados/data_train_test.csv
scripts/data/resultados/data_train_test.rar
scripts/data/resultados/impo_con_ponderaciones_12d_6act_post_ml.csv
scripts/data/resultados/importaciones_bk_pre_intro_matriz.csv
scripts/data/resultados/matriz_pesada_12d_6act_postML.csv
scripts/data/resultados/bk_con_ue_dest.csv