# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

IMPO_2017_12d.csv
impo_con_ponderaciones_12d_6act.csv
IMPO_17_feature.csv
IMPO_17_feature.xls
IMPO_17_feature.xlsx
impo_con_ponderaciones_12d.csv

data_modelo_diaria.csv
data_train_test.csv

data_modelo.csv
bk_con_ue_dest.csv

2017_diaria.DBF
impo_2017_diaria.csv