# FOLDERS
scripts/data/historico_rda/
scripts/data/heavys/

#FILES
#superdata
M_2013a2017_d12.csv
scripts/data/cuit_explotaci/cuit_explotacion_2013a2017.csv
scripts/data/cuit_explotaci\303\263n_2013a2017.csv
scripts/data/cuit_explotacion_2013a2017.csv
cuit_explotacion_2013a2017.csv


IMPO_2017_12d.csv
impo_con_ponderaciones_12d_6act.csv
IMPO_17_feature.csv
IMPO_17_feature.xls
IMPO_17_feature.xlsx
impo_con_ponderaciones_12d.csv
impo_con_ponderaciones_12d_6act_post_ml.csv

scripts/data/resultados/data_modelo_diaria.rar
data_modelo_diaria.rar
data_modelo_diaria.csv
data_train_test.csv
data_train_test.rar

data_modelo.csv
bk_con_ue_dest.csv

2017_diaria.DBF
impo_2017_diaria.csv
impo_con_ponderaciones_12d_6act_post_ml.csv
matriz_pesada_12d_6act_postML.csv
scripts/data/resultados/datos_bk_a_ciiu.csv
importaciones_bk_pre_intro_matriz.csv
asign_pre_matriz.csv

M_2013a2017_d12.csv

scripts/data/historico_rda/
scripts/data/bases_mectra_resumidas_rda_files/
scripts/data/bases_mectra_csv_files/
scripts/data/resultados/agr_csv_files/

